NODE_ENV=development
NEXT_PUBLIC_API_URL=http://example.com
NEXT_PUBLIC_SITE_URL=http://example.com
EMAIL_API_KEY=randomkeys
RESEND_API_KEY=randomkeys

NEXT_PUBLIC_SENTRY_DSN=public-sentry-dsn
SENTRY_DSN=sentry-dsn

SENTRY_AUTH_TOKEN=example-token